doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="shortcut icon", href="../../docs-assets/ico/favicon.png")
    title kitchen-sinkish code example
    // Bootstrap core CSS
    //link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="ng-app/css/bootstrap-flatly.min.css", rel="stylesheet")
    link(href="ng-app/css/jasny-bootstrap.min.css", rel="stylesheet")
    // Custom styles for this template
    link(href="ng-app/css/navbar-offcanvas.css", rel="stylesheet")
    link(href="ng-app/css/transitions.css", rel="stylesheet")
    link(href="ng-app/css/bootstrap-overrides.css", rel="stylesheet")
    link(href="ng-app/css/styles.css", rel="stylesheet")
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src="../../docs-assets/js/ie8-responsive-file-warning.js")
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
  body(ng-app='kitchen-sinkish')
    .container-full-a
      // Static navbar
      .navbar.navbar-fixed-top.navbar-default
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="offcanvas", data-target=".navbar-offcanvas", data-canvas="body")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") KITCHEN SINKISH
          //.navmenu-fixed-left Use this class to force a menu push from the left
        .navbar-offcanvas.offcanvas
          a.navmenu-brand.canvas-switch(href="#") HOME
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href="", data-toggle="dropdown")
                | Start Here
                b.caret
              ul.dropdown-menu
                li
                  a(ui-sref="about") About
                li
                  a.canvas-switch(ui-sref="users") Users
                li
                  a.canvas-switch(ui-sref="auth") Auth
                li
                  a(href="#") Architecture
                li
                  a(href="#") Code Respositories
                li
                  a(href="#") Credits ('Cos They're Due')
            li.dropdown
              a.dropdown-toggle(href="", data-toggle="dropdown")
                | API Fun
                b.caret
              ul.dropdown-menu
                li
                  a(href="#") Github
                li
                  a(href="#") Google
            li(ng-show="$user.authStatus == 'true'")
              a(ui-sref="profile") Welcome {{$user.username}}
            li(ng-show="$user.authStatus == 'true'")
              a(ui-sref="logout") Logout
            li(ng-show="$user.authStatus !== 'true'")
              a(ui-sref="auth") Login/Register
      // Main component for a primary marketing message or call to action
      #viewContainerMain.container-full(ui-view)
    // /container
    script(src="ng-app/js/jquery-1.10.2.min.js")
    script(src="ng-app/js/bootstrap.3.3.1.min.js")
    script(src="ng-app/js/jasny-bootstrap.min.js")
    script(src="ng-app/js/angular.1.2.13.js")
    script(src="ng-app/js/angular-ui-router.0.2.8.min.js")
    //script(src="ng-app/js/angular-animate.min.js")
    script(src="ng-app/app.js")
    script(src="ng-app/js/html5shiv.3.7.0.js")
    script(src="ng-app/js/respond.min.js")
    script(src="ng-app/home/home.js")
    script(src="ng-app/users/users.js")
    script(src="ng-app/auth/auth.js")
    script(src="ng-app/js/offcanvas.js")

